

@(message: String)(formEvento : Form[Evento])

@import helper._
@import b4.vertical.fieldConstructor


@main("Cadastro de Eventos") {

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">acEventos</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="@routes.HomeController.index()">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="@routes.HomeController.cadastroDeEvento()">Cadastrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="@routes.HomeController.listaTudo()">Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="@routes.HomeController.sobre()">Sobre</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

 @*nosso content*@
	  	<br>
		<h4>Cadastre seu evento aqui.</h4>
		<hr>
		@b4.form(CSRF(routes.HomeController.cadastroDeNovoEvento)){

			@b4.text(formEvento("nome"),'_label -> "Nome")
			@b4.text(formEvento("descricao"),'_label -> "Descrição")
			@b4.text(formEvento("organizador"),'_label -> "Organizador")
			@b4.number(formEvento("preco"),'_label -> "Preço")
			@b4.date(formEvento("dataEvento"),'_label -> "Data")
			@b4.submit('class -> "btn btn-primary"){Cadastrar}

		} 
		 
}	
